<div class="panel panel-default">
  <div class="panel-heading panel-heading-silver">
    <h3 class="panel-title">Silver Sponsors</h3>
  </div>
  <div class="panel-body">
    <a href="http://www.thewattteam.com/" target="_blank"><img src="/assets/img/sponsors/silver/WattKey.png" alt="The Watt Team" /></a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-bronze">
    <h3 class="panel-title">Bronze Sponsors</h3>
  </div>
  <div class="panel-body">
    <a href="http://www.kohls.com/" target="_blank"><img src="/assets/img/sponsors/bronze/Khols.png" alt="Khols" /></a>
    <a href="http://www.turnerpest.com/" target="_blank"><img src="/assets/img/sponsors/bronze/Turner_Logo_2012.png" alt="Turner Pest Control" /></a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-wolf-den">
    <h3 class="panel-title">Wolf Den Sponsors</h3>
  </div>
  <div class="panel-body">
  	<a href="http://www.welchteam.com/" target="_blank"><img src="/assets/img/sponsors/wolf-den/WelchTeam-Stacked-realtorKWJ.png" alt="The Welch Team" /></a>
  	<a href="http://www.orangetheoryfitness.com/st-johns" target="_blank"><img src="/assets/img/sponsors/wolf-den/Orangetheory_Fitness_Logo.png" alt="Orange Theory St. Johns" /></a>
  </div>
</div>

<div class="jumbotron">
  If you are interested in becoming a sponsor please contact Catherine Schwarz or Karen Millard. Contact details are in the PDF download below.
  <br /><br />
  <a href="/assets/pdf/RunningOfTheWolvesSponsors.pdf" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> Download</a> our Sponsor information sheet.
  <br />
  <a href="/assets/pdf/ROTW5Kletter.pdf" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> Download</a> our Sponsor levels sheet.
</div>