<h4>EVENT INFORMATION</h4>

<ul>
	<li>Moisture wicking t-shirts to all 5K runners who register by Oct 8th</li>
	<li>Join us after the run for a post-race celebration with music, refeshments and food trucks.</li>
	<li>Awards presentation will follow the conclusion of the 5K event.</li>
</ul>

<p>The 1st Annual Liberty Pines Academy Running of the Wolves 5K and 1 mile fun run will be held Sunday October 16th at St. Johns Golf and Country Club. All proceeds from the run will benefit Liberty Pines Academy, a St. Johns county K-8 A rated school with over 1400 students.  The run is open to the public. It will be a flat fast, two turn lollipop course along the communities scenic roads, finishing on the grass at the athletic field.</p> 

<p class="label label-success" style="font-size: 14px;">All proceeds from this race will benefit programs at Liberty Pines Academy</p>
<br />

<h4>RACE DATE AND TIME</h4> 
<p>5K at 5pm | Sunday October 16, 2016 at 5 PM</p>

<h4>RACE DISTANCE</h4> 
<p>The main event is 5K and 1 Mile Fun Run</p>

<h4>LOCATION </h4>
<p>St Johns Golf and Country Club Athletic Field
<br/> 205 St Johns Golf Dr. 
<br />St Augustine, FL 32092</p>

<h4>ENTRY FEE</h4>
<p>Early registration for the 5K is $25 until midnight Aug 31. The price increases to $30 until midnight Oct 9 and $35 thereafter. Race Shirts are NOT guaranteed to those who register after Oct 9, 2016.  The Fun Run is $15 and runners DO NOT receive a t-shirt.</p>

<h4>REGISTRATION</h4>
<p><a href="http://RunningoftheWolves.itsyourrace.com" target="_blank">Register online</a>. An additional processing fee will be charged by ITS Your Race.com for online registration. 
<br />Online registration closes on Sat Oct 15, 2016 at 9 AM. 
<br />For Mail-in registrations, make checks payable to LPA PTO and mail to 3800 Sandy Shore Dr. Jacksonville, FL 32277. Sorry, no refunds.</p>    

<h4>COURSE</h4>      
<p>It will be a flat fast, two turn lollipop course along the communities scenic roads, finishing on the grass at the athletic field.</p>

<h4>AMENITIES</h4>
<p>Moisture wicking t-shirts to all 5K runners who register by Oct 8th.  Late and race day entrants are not guaranteed a T Shirt.</p>       
<h4>TIMING</h4> 
<p>The race will be timed and scored by Jaguar Timing Systems electronic bib tag. Your entry fee covers the cost of the disposable chip which does not need to be returned. Bib MUST be worn on the front chest to be scored electronically. Please do not fold the microprocessor.</p>

<h4>PACKET PICK UP</h4>
<p>Race packets may be picked up at St. Johns Golf &amp; CC community center Fri, Oct 14, 5 – 7 pm, Sat Oct 14, 9 – 11 am, and on race day beginning at 4pm. Please arrive early to avoid lines.</p>

<h4>AWARDS</h4>   
<p>Awards will be present to the top 3 men and women overall</p>

<h4>AGE GROUP AWARDS</h4>   
<p>Age group awards will be present to the top 3 Male and Female per age group in 7 &amp; under, 8 – 13, 14 - 18, 19 – 24, 25 – 34, 35 – 44, 45 – 54, 55 – 64, 65 and over. Awards presentation will follow the conclusion of the 5K event.</p>

<h4>ADDITIONAL AWARDS</h4>
<p>Raffles including merchant gift cards and Road ID gift certificates.</p>

<h4>RESULTS</h4>
<p>Results will be posted near the finish line during the race and live, online at www.milestoneraceauthority.com. Include your cell phone carrier at registration and receive INSTANT  SMS text message of your race time.</p>

<h4>POST RACE AWARDS CELEBRATION</h4>      
<p>Join us afterwards for water and refreshments.</p>

<h4>PARKING</h4>
<p>Available at the community center</p>


