<div class="jumbotron">
	Liberty Pines Academy's inaugural RUNNING OF THE WOLVES 5K and 1 mile fun run will be held Sunday, October 16<sup>th</sup> at St. Johns Golf and Country Club. All proceeds from the run will benefit Liberty Pines Academy, a St. Johns county K-8 A rated school with over 1400 students.  The run is open to the public. It is a flat, fast, two turn lollipop course along the community's scenic roads that finishes on the grass at the athletic field.
	<br /><br />
	<a class="btn btn-success btn-lg" href="https://runningofthewolves.itsyourrace.com/register/" role="button" target="_blank">Register Online!</a>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-silver">
    <h3 class="panel-title">Silver Sponsors</h3>
  </div>
  <div class="panel-body">
    <a href="http://www.thewattteam.com/" target="_blank"><img src="/assets/img/sponsors/silver/WattKey.png" alt="The Watt Team" /></a>
    <a href="http://tapsbarandgrill.com/" target="_blank"><img src="/assets/img/sponsors/silver/TAPs.png" alt="TAPs Bar and Grill" /></a>
    <a href="http://www.stjohnskids.com/" target="_blank"><img src="/assets/img/sponsors/silver/st-johns-pediatric.png" alt="St Johns Pediatric Dentistry" /></a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-bronze">
    <h3 class="panel-title">Bronze Sponsors</h3>
  </div>
  <div class="panel-body">
    <a href="http://www.kohls.com/" target="_blank"><img src="/assets/img/sponsors/bronze/Khols.png" alt="Khols" /></a>
    <a href="http://www.turnerpest.com/" target="_blank"><img src="/assets/img/sponsors/bronze/Turner_Logo_2012.png" alt="Turner Pest Control" /></a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-wolf-den">
    <h3 class="panel-title">Wolf Den Sponsors</h3>
  </div>
  <div class="panel-body">
  	<a href="http://www.welchteam.com/" target="_blank"><img src="/assets/img/sponsors/wolf-den/WelchTeam-Stacked-realtorKWJ.png" alt="The Welch Team" /></a>
  	<a href="http://www.orangetheoryfitness.com/st-johns" target="_blank"><img src="/assets/img/sponsors/wolf-den/Orangetheory_Fitness_Logo.png" alt="Orange Theory St. Johns" /></a>
  </div>
</div>
