<div class="jumbotron">
	Liberty Pines Academy's inaugural RUNNING OF THE WOLVES 5K and 1 mile fun run will be held Sunday, October 16<sup>th</sup> at St. Johns Golf and Country Club. All proceeds from the run will benefit Liberty Pines Academy, a St. Johns county K-8 A rated school with over 1400 students.  The run is open to the public. It will be a flat fast, two turn lollipop course along the communities scenic roads, finishing on the grass at the athletic field.
	<br /><br />
	<p><a class="btn btn-success btn-lg" href="https://runningofthewolves.itsyourrace.com/register/" role="button" target="_blank">Register Online!</a></p>
</div>

<h3>Sponsors</h3>