	<div class="jumbotron">
	<a href="/assets/img/2016-race-photos/IMG_9223.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9223.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9224.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9224.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9225.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9225.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9226.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9226.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9229.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9229.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9230.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9230.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9231.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9231.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9232.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9232.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9233.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9233.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9234.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9234.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9235.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9235.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9236.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9236.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9237.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9237.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9239.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9239.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9240.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9240.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9242.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9242.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9243.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9243.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9244.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9244.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9246.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9246.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9247.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9247.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9248.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9248.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9249.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9249.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9250.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9250.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9251.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9251.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9252.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9252.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9253.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9253.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9255.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9255.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9256.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9256.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9257.jpg" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9257.jpg"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9258.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9258.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9259.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9259.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9260.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9260.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9261.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9261.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9262.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9262.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9263.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9263.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9265.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9265.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9266.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9266.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9268.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9268.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9270.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9270.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9271.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9271.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9272.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9272.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9273.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9273.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9275.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9275.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9276.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9276.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9277.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9277.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9278.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9278.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9279.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9279.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9281.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9281.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9282.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9282.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9283.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9283.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9284.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9284.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9285.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9285.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9286.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9286.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9287.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9287.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9288.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9288.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9289.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9289.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9290.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9290.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9291.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9291.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9292.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9292.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9295.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9295.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9296.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9296.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9297.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9297.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9298.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9298.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9299.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9299.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9300.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9300.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9301.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9301.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9302.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9302.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9303.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9303.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9304.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9304.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9305.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9305.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9306.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9306.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9307.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9307.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9308.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9308.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9309.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9309.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9310.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9310.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9311.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9311.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9312.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9312.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9313.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9313.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9314.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9314.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9315.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9315.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9316.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9316.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9317.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9317.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9318.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9318.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9319.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9319.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9320.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9320.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9321.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9321.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9322.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9322.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9323.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9323.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9325.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9325.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9326.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9326.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9327.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9327.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9328.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9328.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9329.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9329.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9330.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9330.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9331.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9331.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9332.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9332.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9333.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9333.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9334.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9334.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9335.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9335.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9336.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9336.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9337.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9337.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9338.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9338.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9339.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9339.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9340.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9340.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9341.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9341.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9342.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9342.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9343.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9343.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9344.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9344.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9345.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9345.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9346.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9346.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9349.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9349.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9350.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9350.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9351.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9351.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9354.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9354.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9355.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9355.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9356.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9356.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9359.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9359.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9361.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9361.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9362.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9362.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9363.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9363.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9366.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9366.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9367.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9367.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9368.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9368.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9369.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9369.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9370.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9370.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9371.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9371.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9372.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9372.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9373.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9373.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9375.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9375.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9376.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9376.JPG"/></a>
	<a href="/assets/img/2016-race-photos/IMG_9377.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9377.JPG"/></a>

	<a href="/assets/img/2016-race-photos/IMG_9377.JPG" data-lightbox="runningofthewolves"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9377.JPG"/></a>

	<a href="/assets/img/2016-race-photos/IMG_9377.JPG"><img src="/assets/img/2016-race-photos/thumbnails/IMG_9377.JPG"/></a>
</div>