<div class="ui container">
	<sm-segment class="raised">
		<table>
			<tr>
				<td>
					<div class="center">
			            <img src='/assets/img/pawprint.jpg' height="50%" width="50%">
			            <br />
			            <br />
			            <br />
			        </div>
				</td>
				<td>
					<br /><br />
					LIBERTY PINES ACADEMY 
					<br/>
					RUNNING OF THE WOLVES
					<br/>
					5K AND 1 MILE FUN RUN 
					<br />
					OCTOBER 16, 2016
				</td>
			</tr>
		</table>
		
		<br />
		<p>
			Come back later for sponsors, race details, sign up and more!
		</p>
	</sm-segment>
</div>